/*
  Theme Name:   SuperFine Child Theme
  Theme URI:    http://www.it-rays.org/superfine
  Author:       IT-RAYS
  Author URI:   http://www.it-rays.net
  Description:  SuperFine Child Theme.
  Template:		superfine
  Version:      1.1.6
  License:      GNU General Public License v2 or later
  License URI:  http://www.gnu.org/licenses/gpl-2.0.html
  Tags:         light, dark, right-sidebar, left-sidebar, fluid-layout, fixed-layout, custom-header, custom-background, custom-menu, red, blue, green, theme-options, translation-ready
  Text Domain:  superfine
*/
h1, h2, h3, h4, h5 {
  font-family: "Roboto", sans-serif !important; }

p {
  font-family: "Roboto", sans-serif !important; }

h2 {
  font-size: 4em;
  text-transform: uppercase; }

.home .pageWrapper {
  margin-top: 80px !important; }
  @media only screen and (min-width: 1000px) {
    .home .pageWrapper {
      margin-top: 100px !important; } }

.tp-caption.fashion-bigdisplay-top-1, .fashion-bigdisplay-top-1 {
  font-weight: 300 !important; }

#solid-green-bar {
  background: #C0CB7D;
  display: block;
  background-size: cover;
  height: 10px;
  padding: 5px 20px !important;
  width: 100%; }
  @media only screen and (min-width: 1000px) {
    #solid-green-bar {
      height: 15px;
      padding: 5px 70px !important;
      display: block;
      margin: auto !important;
      max-width: 140px !important;
      width: 100%;
      float: left; } }

#headWrapper .top-head {
  padding-top: 0px; }

#headWrapper .logo {
  width: 220px;
  float: left; }

#headWrapper .responsive-nav {
  float: right;
  clear: none;
  margin-top: 30px; }

.top-head.sticky-nav.header-3 .logo {
  display: block !important; }

.top-head.transparent-3 {
  background: #fff !important;
  width: 100%;
  margin: auto; }
  .top-head.transparent-3 .container {
    max-width: 1000px; }
  .top-head.transparent-3 .logo {
    width: auto;
    text-align: center;
    position: relative;
    padding: 15px !important; }
    @media only screen and (min-width: 1000px) {
      .top-head.transparent-3 .logo {
        padding: 25px 20px 15px !important; } }
    .top-head.transparent-3 .logo a {
      display: inline-block;
      width: 50%; }
      @media only screen and (min-width: 1000px) {
        .top-head.transparent-3 .logo a {
          width: 200px;
          text-align: left; } }
    .top-head.transparent-3 .logo span {
      display: none; }
  .top-head.transparent-3 .responsive-nav {
    margin-top: 40px; }
  .top-head.transparent-3 .top-nav > ul > li {
    padding: 0px 15px 5px;
    margin: 30px 15px; }
    .top-head.transparent-3 .top-nav > ul > li > a {
      color: #40515f !important; }

.top-head.sticky-nav .logo {
  width: auto;
  padding: 10px !important;
  position: relative; }
  @media only screen and (min-width: 1000px) {
    .top-head.sticky-nav .logo {
      padding: 0px !important; } }
  @media only screen and (min-width: 1000px) {
    .top-head.sticky-nav .logo a {
      width: 110px;
      top: 4px;
      position: relative;
      padding: 0px !important; } }
  .top-head.sticky-nav .logo span {
    display: none; }

.top-head.sticky-nav .responsive-nav {
  margin-top: 10px !important; }
  .top-head.sticky-nav .responsive-nav .top-nav > ul > li {
    padding: 0px 15px 5px; }

#contentWrapper .section {
  padding-top: 65px !important; }
  @media only screen and (min-width: 750px) {
    #contentWrapper .section {
      padding-top: 55px !important;
      padding-bottom: 30px !important; } }

#contentWrapper #one-on-one {
  text-align: center;
  margin-top: 70px; }
  @media only screen and (min-width: 800px) {
    #contentWrapper #one-on-one {
      margin-top: 50px;
      margin-bottom: 30px; } }
  #contentWrapper #one-on-one .top-coaching {
    color: #40515f;
    font-size: 2.3em;
    margin-bottom: -20px;
    font-weight: 300; }
  #contentWrapper #one-on-one .top-with-renee {
    color: #40515f;
    text-transform: none;
    margin-bottom: 0px;
    font-size: 3.5em;
    font-weight: 700; }
    #contentWrapper #one-on-one .top-with-renee span {
      color: #a1a1a1;
      font-weight: 600; }

#contentWrapper #home {
  padding: 0px;
  padding-top: 0px !important; }
  #contentWrapper #home .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }

#contentWrapper #about {
  padding-top: 5px !important;
  padding-bottom: 5px; }
  #contentWrapper #about .container {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-container {
      background: #f1f1f1; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-container .vc_tta-panel-heading .vc_tta-panel-title {
        text-transform: uppercase; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list {
      border-top: solid 2px #d7d7d7; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab {
        background: #e5e6e7;
        border-right: solid 2px #d7d7d7;
        margin: 0px;
        min-width: 180px; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab:first-child {
          border-left: solid 2px #d7d7d7; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab:last-child {
          border-right: solid 2px #d7d7d7; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active {
          position: relative; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active a {
            background: #c2ca81;
            text-transform: uppercase; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active a .vc_tta-icon {
              background: #bbc382; }
              #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active a .vc_tta-icon:before {
                color: #fff; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active a .vc_tta-title-text {
              color: #fff; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab.vc_active:after {
            content: '';
            background: url("/wp-content/themes/superfine/images/tab-active-arrow.png");
            width: 35px;
            height: 16px;
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 9999;
            bottom: -12px;
            left: 40%; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a {
          background: #f1f1f1;
          border: 0px;
          padding-top: 20px !important; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a .vc_tta-icon {
            display: inline-block;
            width: 100%;
            padding: 25px 0px;
            background: #e5e6e7;
            font-size: 2em !important;
            border-radius: 20px;
            margin-bottom: 20px; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a .vc_tta-icon:before {
              color: #c1cb7a; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a .vc_tta-title-text {
            text-transform: uppercase !important;
            color: #a1a1a1; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a:hover {
            background: #c2ca81; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a:hover .vc_tta-icon {
              background: #bbc382; }
              #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a:hover .vc_tta-icon:before {
                color: #fff; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-tabs-list .vc_tta-tab a:hover .vc_tta-title-text {
              color: #fff; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching {
      background: url("/wp-content/themes/superfine/images/coaching-bg.jpg");
      background-size: cover;
      background-position: top center;
      background-attachment: fixed; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body {
        background: url("/wp-content/themes/superfine/images/coaching-bg.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper {
          color: #fff; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper h2 {
            color: #fff;
            font-weight: 800;
            line-height: initial;
            margin-bottom: 20px;
            margin-top: 40px;
            font-size: 3em; }
            @media only screen and (min-width: 750px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper h2 {
                max-width: 380px; } }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper p {
            color: #fff;
            font-weight: 400;
            font-size: 1.2em;
            line-height: inherit; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper ul {
            margin-left: 0px;
            list-style-type: none;
            position: relative; }
            @media only screen and (min-width: 480px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper ul {
                margin-left: 20px; } }
            #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper ul li {
              color: #fff;
              font-weight: 500;
              font-size: 1.3em;
              position: relative; }
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.coaching .vc_tta-panel-body .wpb_wrapper ul li:before {
                content: '';
                position: relative;
                height: 3px;
                width: 15px;
                background: #d1de6d;
                float: left;
                left: -10px;
                top: 12px; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene {
      background: url("/wp-content/themes/superfine/images/rene-static-bg.jpg");
      background-size: cover;
      background-position: top right; }
      @media only screen and (min-width: 750px) {
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene {
          background-position: top center;
          background-position-x: 27%; } }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body {
        background: url("/wp-content/themes/superfine/images/rene-static-bg.jpg");
        background-size: cover;
        background-position: top left;
        background-attachment: fixed; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper {
          margin-top: 50px; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap {
            width: 100%; }
            @media only screen and (min-width: 750px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap {
                float: left; } }
            #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap h2 {
              color: #40515f;
              font-weight: 700;
              line-height: initial;
              font-size: 3em;
              margin-bottom: 0px;
              margin-bottom: 15px; }
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap h2 sub {
                font-size: .7em;
                position: relative;
                bottom: -3px; }
            #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio {
              float: left;
              display: inline-block; }
              @media only screen and (min-width: 750px) {
                #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio {
                  margin-left: -10px; } }
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio .outside-img {
                float: left;
                width: 100%; }
                @media only screen and (min-width: 750px) {
                  #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio .outside-img {
                    width: 305px; } }
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio p {
                color: #40515f;
                line-height: 1.1em;
                padding-bottom: 0px;
                font-weight: 500;
                margin-bottom: 10px; }
                #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio p span {
                  font-weight: 800; }
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio img.logo {
                width: 150px;
                display: block;
                text-align: center;
                margin: auto;
                padding: 20px; }
                @media only screen and (min-width: 750px) {
                  #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.rene .vc_tta-panel-body .wpb_wrapper .content-wrap .rene-bio img.logo {
                    float: right;
                    text-align: right;
                    padding-left: 30px;
                    padding-top: 15px; } }
    #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking {
      background: url("/wp-content/themes/superfine/images/speaking.jpg");
      background-size: cover;
      background-position: top center;
      background-attachment: fixed; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body {
        background: url("/wp-content/themes/superfine/images/speaking.jpg");
        background-size: cover;
        background-position: top left;
        background-attachment: fixed; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper .header-wrap {
          margin-top: 50px; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper .header-wrap h2 {
            font-weight: 700;
            font-size: 2.5em;
            color: #fff; }
            @media only screen and (min-width: 480px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper .header-wrap h2 {
                margin-bottom: 0px;
                font-size: 3em; } }
            @media only screen and (min-width: 750px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper .header-wrap h2 {
                color: #fff;
                font-size: 4em;
                margin-bottom: -10px; } }
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper a {
          background: transparent;
          color: #fff;
          font-size: 1.4em;
          display: block;
          font-weight: 500;
          padding: 10px;
          border: solid 1px #d1de6d; }
          @media only screen and (min-width: 750px) {
            #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper a {
              margin-top: 75px;
              display: inline-block; } }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.speaking .vc_tta-panel-body .wpb_wrapper a:hover {
            background: #d1de6d;
            color: #40515f;
            -webkit-transition: all, .5s, ease-in-out;
            transition: all, .5s, ease-in-out; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration {
      background: url("/wp-content/themes/superfine/images/inspiration-bg.jpg");
      background-size: cover;
      background-position: top center;
      background-attachment: fixed; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration .vc_tta-panel-body {
        background: url("/wp-content/themes/superfine/images/inspiration-bg.jpg");
        background-size: cover;
        background-position: center;
        background-attachment: fixed; }
        #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration .vc_tta-panel-body .wpb_wrapper {
          margin-top: 50px; }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration .vc_tta-panel-body .wpb_wrapper h2 {
            color: #fff;
            font-size: 2.5em; }
            @media only screen and (min-width: 480px) {
              #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration .vc_tta-panel-body .wpb_wrapper h2 {
                margin-bottom: 0px;
                font-size: 3em; } }
          #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel.inspiration .vc_tta-panel-body .wpb_wrapper p {
            color: #fff;
            font-weight: normal;
            line-height: initial; }
    #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body .wpb_wrapper {
      min-height: 450px;
      width: 100%;
      max-width: 900px;
      margin: auto; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body .wpb_wrapper h2 {
        font-size: 4em;
        text-transform: uppercase; }
      #contentWrapper #about .container .vc_tta-container .vc_tta-panels-container .vc_tta-panels .vc_tta-panel .vc_tta-panel-body .wpb_wrapper p {
        font-size: 1.2em;
        font-family: "Roboto", sans-serif; }

#contentWrapper #clients {
  padding: 5px 0px;
  margin-bottom: 10px !important; }
  @media only screen and (min-width: 750px) {
    #contentWrapper #clients {
      padding-top: 25px !important;
      padding-bottom: 5px;
      margin-bottom: 40px !important; } }
  #contentWrapper #clients .container .wpb_wrapper .fans {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px; }
    #contentWrapper #clients .container .wpb_wrapper .fans p {
      font-weight: 300;
      color: #40515f;
      font-size: 2.3em;
      line-height: initial;
      margin-bottom: 0px; }
    #contentWrapper #clients .container .wpb_wrapper .fans h3 {
      color: #a1a1a1;
      font-weight: 700;
      font-size: 4em;
      line-height: initial; }
      #contentWrapper #clients .container .wpb_wrapper .fans h3 span {
        color: #40515f; }
  #contentWrapper #clients .container .wpb_wrapper .logo-row {
    display: block;
    float: left;
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    text-align: center; }
    @media only screen and (min-width: 750px) {
      #contentWrapper #clients .container .wpb_wrapper .logo-row {
        margin: 10px auto; } }
    #contentWrapper #clients .container .wpb_wrapper .logo-row a {
      display: inline-block;
      width: 100px;
      margin: 10px; }
      @media only screen and (min-width: 480px) {
        #contentWrapper #clients .container .wpb_wrapper .logo-row a {
          display: inline-block;
          width: 420px;
          margin: 20px 20px; } }
      @media only screen and (min-width: 750px) {
        #contentWrapper #clients .container .wpb_wrapper .logo-row a {
          width: 200px;
          margin: 30px 35px; } }
      @media only screen and (min-width: 900px) {
        #contentWrapper #clients .container .wpb_wrapper .logo-row a {
          width: 150px;
          margin: 20px 35px; } }
      @media only screen and (min-width: 1000px) {
        #contentWrapper #clients .container .wpb_wrapper .logo-row a.kelly {
          width: 100px; } }

#contentWrapper #testimonials {
  background: url("/wp-content/themes/superfine/images/testimonials-bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-bottom: 50px; }
  #contentWrapper #testimonials .container .wpb_wrapper .fans {
    text-align: center;
    margin-bottom: 60px; }
    #contentWrapper #testimonials .container .wpb_wrapper .fans p {
      font-weight: 300;
      color: #fff;
      font-size: 2.3em;
      line-height: initial;
      margin-bottom: 0px; }
    #contentWrapper #testimonials .container .wpb_wrapper .fans h3 {
      color: #a1a1a1;
      font-weight: 700;
      font-size: 3em;
      line-height: initial; }
      @media only screen and (min-width: 750px) {
        #contentWrapper #testimonials .container .wpb_wrapper .fans h3 {
          font-size: 4em; } }
      #contentWrapper #testimonials .container .wpb_wrapper .fans h3 span {
        color: #40515f; }
  #contentWrapper #testimonials .container .testimonials .slick-prev, #contentWrapper #testimonials .container .testimonials .slick-next {
    background: #2d3e4b;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
  #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-bg {
    background: rgba(45, 62, 75, 0.8);
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    min-height: 310px;
    padding: 20px 30px 30px; }
    @media only screen and (min-width: 600px) {
      #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-bg {
        min-height: 325px; } }
    #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-bg .text:before {
      content: '';
      background: url("/wp-content/themes/superfine/images/testimonial-quote.png");
      background-size: contain;
      background-repeat: no-repeat;
      margin: auto;
      margin-bottom: 5px;
      color: #d1de6d;
      font-size: 4em;
      width: 20px;
      height: 25px;
      display: block;
      text-align: center;
      font-family: "Roboto", sans-serif;
      padding-top: 10px; }
    #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-bg p {
      line-height: initial; }
  #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-img {
    border: transparent !important; }
    #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-img img {
      border-radius: 0px;
      height: auto; }
  #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-name {
    color: #40515f;
    padding-top: 0px; }
    #contentWrapper #testimonials .container .testimonials .slick-slide .testimonials-name .block {
      color: #40515f !important;
      font-weight: 400; }
  #contentWrapper #testimonials .container .vc_btn3-container {
    display: none; }

#contentWrapper #contact {
  padding-top: 55px;
  padding-bottom: 0px !important; }
  #contentWrapper #contact .container .wpb_wrapper .fans {
    text-align: center; }
    #contentWrapper #contact .container .wpb_wrapper .fans p {
      font-weight: 300;
      color: #40515f;
      font-size: 2.3em;
      line-height: initial;
      margin-bottom: 0px; }
    #contentWrapper #contact .container .wpb_wrapper .fans h3 {
      color: #a1a1a1;
      font-weight: 700;
      font-size: 3em;
      line-height: initial;
      margin-bottom: 0px; }
      #contentWrapper #contact .container .wpb_wrapper .fans h3 span {
        color: #40515f; }
      @media only screen and (min-width: 750px) {
        #contentWrapper #contact .container .wpb_wrapper .fans h3 {
          font-size: 4em; } }

#contentWrapper #form-map .container .wpcf7 .wpcf7-form h3 {
  color: #d1de6d;
  text-transform: uppercase;
  margin-bottom: 70px;
  font-weight: 800;
  border-bottom: solid 2px #f1f1f1; }

#contentWrapper #form-map .container .wpcf7 .wpcf7-form p {
  color: #40515f; }
  #contentWrapper #form-map .container .wpcf7 .wpcf7-form p input {
    width: 100%;
    border: solid 2px #f1f1f1; }
  #contentWrapper #form-map .container .wpcf7 .wpcf7-form p .wpcf7-submit {
    width: 100%;
    max-width: 190px;
    margin: auto;
    text-align: center;
    display: block;
    padding: 15px;
    font-size: 20px;
    background: #e4eca0;
    border: none;
    -webkit-transition: all, .5s, ease-in-out;
    transition: all, .5s, ease-in-out; }
    #contentWrapper #form-map .container .wpcf7 .wpcf7-form p .wpcf7-submit:hover {
      -webkit-transition: all, .5s, ease-in-out;
      transition: all, .5s, ease-in-out;
      opacity: .7; }

#contentWrapper #form-map .container .col-md-4 .map-layout h3 {
  color: #d1de6d;
  text-transform: uppercase;
  margin-bottom: 70px;
  font-weight: 800;
  border-bottom: solid 2px #f1f1f1;
  margin-bottom: 10px; }

#contentWrapper #form-map .container .col-md-4 .map-layout .address {
  margin-bottom: 10px;
  margin-top: 25px; }
  #contentWrapper #form-map .container .col-md-4 .map-layout .address span {
    display: block;
    color: #40515f;
    line-height: initial; }

#contentWrapper #form-map .container .col-md-4 .map-layout a {
  display: block;
  color: #40515f; }
  #contentWrapper #form-map .container .col-md-4 .map-layout a.phone {
    font-size: 22px;
    font-weight: 800;
    line-height: initial;
    margin-top: 20px; }
  #contentWrapper #form-map .container .col-md-4 .map-layout a.email {
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 30px; }

#contentWrapper #form-map .container .col-md-4 .map-layout .social-icons {
  margin-left: 30px;
  margin-top: 10px; }
  #contentWrapper #form-map .container .col-md-4 .map-layout .social-icons a {
    display: inline-block;
    width: 50px;
    margin: 0 5px;
    -webkit-transition: all, .5s, ease-in-out;
    transition: all, .5s, ease-in-out; }
    #contentWrapper #form-map .container .col-md-4 .map-layout .social-icons a:hover {
      -webkit-transition: all, .5s, ease-in-out;
      transition: all, .5s, ease-in-out;
      opacity: .7; }

#to-top span {
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background: #e4eca0; }

.vc_tta.vc_general .vc_tta-panel-title {
  text-transform: uppercase; }

html.pum-open.pum-open-overlay.pum-open-scrollable .pum-overlay.pum-active {
  background: transparent; }

#popmake-57 .pum-title {
  text-align: center; }

#popmake-57 .pum-content h3 {
  text-align: center;
  font-weight: 300;
  color: #40515f;
  font-size: 2em;
  margin-top: 40px; }
  #popmake-57 .pum-content h3 span {
    color: #d1de6d;
    font-weight: 700; }

#popmake-57 .pum-content .wpcf7 .wpcf7-form {
  text-align: center;
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 0px; }
  #popmake-57 .pum-content .wpcf7 .wpcf7-form p {
    text-align: left;
    color: #40515f; }
    #popmake-57 .pum-content .wpcf7 .wpcf7-form p .wpcf7-submit {
      display: block;
      margin: auto;
      max-width: 35%;
      margin-top: 60px;
      width: 100%;
      margin-bottom: 0px;
      font-size: 1.5em; }
  #popmake-57 .pum-content .wpcf7 .wpcf7-form .wpcf7-form-control-wrap {
    width: 100%; }
    #popmake-57 .pum-content .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input {
      width: 100%; }

#popmake-57 .pum-close {
  background: #40515f; }

#footWrapper .footer-top {
  display: none; }

#footWrapper .footer-middle {
  background: url("/wp-content/themes/superfine/images/middle-footer-bg.jpg");
  background-position: center;
  background-size: cover;
  padding: 30px;
  padding-top: 70px; }
  #footWrapper .footer-middle .widget h4.block-head {
    display: none; }
  #footWrapper .footer-middle .widget .textwidget .footer-icf {
    width: 60%; }

#footWrapper .footer-bottom {
  background: #2d3e4b; }
  #footWrapper .footer-bottom .copyrights {
    color: #fff;
    font-weight: 500;
    font-size: 1.3em; }
    #footWrapper .footer-bottom .copyrights .main-color {
      color: #fff; }



/*--UPDATES DONE BY LYLE ON 7/1/16--*/
/*--Add Down scroll arrow to slider--*/
/*---------Snap back on manu---------*/
.wpcf7-response-output { font-weight: bold !important; }
#contentWrapper #form-map .container .wpcf7 .wpcf7-form p .wpcf7-submit {
  background: #a1a1a1;
}
.home .pageWrapper { margin-top: 0 !important; }
#popmake-57 .pum-content .wpcf7 .wpcf7-form p .wpcf7-submit { 
  max-width: 350px; 
}
#down-arrow {
  animation-name: floating !important;
  -webkit-animation-name: floating !important;
  animation-duration: 1.5s !important; 
  -webkit-animation-duration: 1.5s !important;
  animation-iteration-count: infinite !important;
  -webkit-animation-iteration-count: infinite !important;
}
@keyframes floating {
  0% { transform: translateY(0%); }
  50% { transform: translateY(8%); } 
  100% { transform: translateY(0%);  }     
}
@-webkit-keyframes floating {
  0% { -webkit-transform: translateY(0%); }
  50% { -webkit-transform: translateY(8%); } 
  100% { -webkit-transform: translateY(0%); }     
}
@media only screen and (max-width: 700px) { 
  #popmake-57 .pum-content .wpcf7 .wpcf7-form { padding: 0; }
}

/*-----------------------------------*\
	COOKIE CONSENT
\*-----------------------------------*/
#gdpr-cookie-message {
	background-color: #ffffff;
	position: fixed;
	bottom: 0;
	left: 2em;
	max-width: 550px;
	padding: 2em;
	z-index: 99999;
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}
#gdpr-cookie-message > h4 {
  margin-top: 0;
}
#gdpr-cookie-message > p:last-of-type {
  margin-bottom: 0;
}
#gdpr-cookie-message button {
  background-color: #a1a1a1;
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	text-transform: uppercase;
}
#gdpr-cookie-message button:hover,
#gdpr-cookie-message button:focus {
  background-color: #575757;
	color: #fff;
}
#gdpr-cookie-message button:first-of-type {
  margin-right: 1.5em;
}
#gdpr-cookie-message > div ul {
  list-style-type: none;
  margin: 1em auto 2em;
}
#gdpr-cookie-message > div ul li {
  display: flex;
  flex-wrap: wrap;
  margin: .5rem 0;
}
#gdpr-cookie-message > div ul li label {
  margin-bottom: 2px;
}
#gdpr-cookie-message > div ul li input {
  width: 30px;
	height: 20px;
	margin: 0;
}
#gdpr-cookie-message > div ul li span {
  font-size: 12px;
  width: 100%;
}
#footWrapper .footer-bottom .copyrights a {
	color: #ffffff;
}
#footWrapper .footer-bottom .copyrights a:hover,
#footWrapper .footer-bottom .copyrights a:focus {
	text-decoration: underline;
}
#footWrapper .footer-bottom .copyrights button {
	background-color: transparent;
	border: none;
	padding: 0;
}
#footWrapper .footer-bottom .copyrights button:hover,
#footWrapper .footer-bottom .copyrights button:focus {
	text-decoration: underline;
}
.page-id-75 #contentWrapper {
	padding-top: 94px;
}

.page-id-75 #contentWrapper h2 {
	margin: 20px 0 10px;
}