﻿@import url(http://fonts.googleapis.com/earlyaccess/notokufiarabic.css);

body{
	direction:rtl;
	unicode-bidi: embed;
	font-family: 'Noto Kufi Arabic', monospace;
	overflow-x:hidden
}
.esg-container-fullscreen-forcer,.left-side-wrap .side-nav ul,.myportfolio-container{
	direction:ltr
}
.myportfolio-container .mainul,.wpcf7{
	direction:rtl
}
.f-right,.top-cart,.top-nav ul li li.hasChildren > a:after,.widget-categories li span,.side-one li a i,.top-head.head4 .top-search,.top-head .top-cart,.top-head.head7 .top-search,#captchaimg,.rit-img,.close,.right-rating,.footer-bottom .menu,
.left-icons .icon-box-small i,.top-head.header-4 .top-search,.side-one li a i,.widget_product_categories span.count,.woocommerce #payment #place_order, .woocommerce form .form-row-last, .woocommerce-page #payment #place_order, .woocommerce-page form .form-row-last{
	float:left
}
.f-left,[class*="col-md-"],[class*="vc_col-"], .top-nav,.top-nav > ul > li, .top-search,.widget_recent_entries .post-img,.widget_categories ul li a,.widget_recent_comments ul li:before, .tags li,.widget_it_widget_flickr ul li,.icon-box-small i,
.post-icon,.post-item .post-meta li,.pagination ul li,.heading.side-head i,.share-post button,.share-post > div,.blog-posts.small .post-image, .blog-posts.small .post-gallery, .blog-posts.small .post-media,.social-list li,.flickr_badge_image,
.vc_tta-tabs.vc_tta-style-style-2.vc_tta-controls-align-left .vc_tta-tabs-list li,.gw-go-col-wrap,.small_items .entry-image,.inner-magazine .gallery_thumbs li,.side-one li a span span,.woocommerce .single-pro,.woocommerce div.product form.cart div.quantity,
.col-md-8 .blog-posts.small-image .post-image, .col-md-8 .blog-posts.small .post-image, .col-md-8 .blog-posts.small .post-gallery,.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img,.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img,
.woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last,.filter-by .esg-filterbutton,.center-top,.left-top,.right-top,.digits li,.bottom-md-footer .form-control{
	float:right
}
.woocommerce-page [class*="col-md-import-"]{
	float: right !important
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary{
	float:left !important
}
.top-nav > ul > li.hasChildren > a:after, .top-nav > ul > li.hasChildren > span > a:after{
	margin-left:0;
	margin-right:5px
}
.vc_tta.vc_general .vc_tta-icon{
	display:inline-block;
	margin-left:10px
}
.side-one li a{
	padding-right: 15px;
	padding-left: 0;
}
.side-one li {
	right: -80px;
	left:auto
}
.side-one li:hover{
	right:0
}
.diamonds {
	float:right
}
.diamonds-nav ul > li:nth-child(5n+4) {
    margin-right: 21.555555555%;
    margin-left:5%
}
.diamonds-nav ul > li:nth-child(5n+6) {
    clear:right;
}
.diamonds-nav ul > li:nth-child(5n+6):last-of-type {
	margin-left: 0;
	margin-right: 38%;
}
.top-nav ul li:not(.megamenu) ul ul{
	border-left-width: 0;
	border-right-style: solid;
	border-right-width: 3px;
}
.footer-middle .menu li a:before,.post-item .post-meta li i,.bottom_tools a i,.chat-author i,.meta_comments:before,.post-tags i, .m-right,.list li i,.my-exp h5 i,.top-bar ul li i,#lang_sel a img, #lang_sel_click a img,.top-shop-links a i{
	margin-right:0;
	margin-left:8px
}
.vc_tta-tabs:not([class*=vc_tta-gap]):not(.vc_tta-o-no-fill).vc_tta-tabs-position-top .vc_tta-tab.vc_active>a::before{
	right:auto
}
.widget_it_widget_contact li i:before,.minimal-info i,.small_items .entry-image{
	margin-right:0;
	margin-left:15px
}
.vc_icon_element-align-left,.page-title .title-icon,.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img,.woocommerce div.product .woocommerce-tabs ul.tabs li a:before,.srch_item .post-meta li i{
	margin-right:0;
	margin-left:10px
}
.vc_icon_element-align-right,.top-head.header-9 .top-search{
	margin-left:0;
	margin-right:10px
}
.divider.lft:before{
	margin-left:0;
	margin-right:20px
}
#lang_sel li li a span, #lang_sel_click li li a span,.top-shop-links{
	margin-right:0;
	margin-left:20px
}
.not-found-form .main-bg{
	top:-3px
}
.heading i{
	margin:-3px 0 0 15px
}
.srch_item .post-meta li{
	margin: 0 0 0 15px;
}
.footer-middle .menu li a:before{
	content: "\f104";
}
.t-left,.vc_general.vc_cta3.vc_cta3-align-left .vc_cta3-content,.vc_btn3-container.vc_btn3-left,.post-item .post-content,.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-left, .vc_tta.vc_tta-controls-align-left .vc_tta-panel-heading,
.vc_tta.vc_tta-controls-align-left .vc_tta-tabs-container,.left-text,th,td{
	text-align:right
}
#bbpress-forums li{
	text-align:right !important
}
.t-right,.widget_categories ul li,.vc_general.vc_cta3.vc_cta3-align-right .vc_cta3-content,.vc_btn3-container.vc_btn3-right,.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-right, .vc_tta.vc_tta-controls-align-right .vc_tta-panel-heading,
.vc_tta.vc_tta-controls-align-right .vc_tta-tabs-containert,.left-icons .icon-box-small .icon-sm-desc{
	text-align:left
}
.vc_general.vc_cta3.vc_cta3-actions-right .vc_cta3-content{
	padding-right:0;
	padding-left:28px
}
.vc_general.vc_cta3.vc_cta3-actions-left .vc_cta3-content,.head-8{
	padding-left:0;
	padding-right:28px
}
.menu-hint{
	right:auto;
	left:0;
	margin-right:3px;
	margin-left:0
}
.post-item .post-meta li{
	padding-right:0;
	padding-left:15px
}
.vc_message_box{
	padding:1em 4em 1em 1em
}
.footer-middle h4:before {
    right: 10%;
    left:auto
}
.breadcrumbs,.feature-img figure a,.icons-style-1 i {
    right: auto;
    left:15px
}
.show-arrows .slick-prev, .show-arrows .slick-next{
	right:auto;
	left:15px
}
.show-arrows .slick-next{
	left:46px;
}
.top-head .fluid-header .logo {
    float: right;
    padding: 25px 0px 15px 20px;
}
.vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon{
	left:auto;
	right:20px
}
.vc_tta.vc_tta-accordion .vc_tta-controls-icon-position-right .vc_tta-controls-icon{
	right:auto;
	left:20px
}
.vc_tta-style-style-4 .vc_tta-panel.vc_active>.vc_tta-panel-heading h4 a:before{
	right:5%;
	left:auto
}
.vc_btn3.vc_btn3-size-xs.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon{
	left:auto;
	right:12px
}
.vc_btn3.vc_btn3-size-sm.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon{
	left:auto;
	right:16px
}
.vc_btn3.vc_btn3-size-lg.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon,.vc_btn3.vc_btn3-size-xl.vc_btn3-icon-left:not(.vc_btn3-o-empty) .vc_btn3-icon{
	left:auto;
	right:25px
}
.vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty){
	padding-right: 48px;
	padding-left: 20px;
}
.vc_btn3.vc_btn3-size-xs.vc_btn3-icon-left:not(.vc_btn3-o-empty){
	padding-right: 31px;
	padding-left: 12px;
}
.vc_btn3.vc_btn3-size-sm.vc_btn3-icon-left:not(.vc_btn3-o-empty){
	padding-right: 39px;
	padding-left: 16px;
}
.vc_btn3.vc_btn3-size-lg.vc_btn3-icon-left:not(.vc_btn3-o-empty){
	padding-right: 60px;
	padding-left: 25px;
}
.vc_btn3.vc_btn3-size-xl.vc_btn3-icon-left:not(.vc_btn3-o-empty){
	padding-right: 60px !important;
	padding-left: 35px !important;
}
.icons-style-1:hover i.animat-icon{
	right:auto;
	left:30px
}
.widget_search button{
    right: auto;
    left:5px
}
.top-nav ul li ul,.sidebar_widgets .widget-head:after,.head-4:after,.top-head.boxed-transparent .bot-line,.footer-top div.slick-s .slick-slide:before,.divider.lft:before,.head-6:after,.comment-list .comment-avatar,.head-8:before,.head-5:after, .head-5:before,
.vc_message_box-icon,.section-full-bg.right,.bbp-body li.bbp-forum-info:before, .bbp-body li.bbp-topic-title:before{
    right: 0;
    left:auto
}
.close-srch,#to-top,.section-full-bg.left,.top-cart .cart-box{
    right: auto;
    left:0
}
.top-cart .cart-num{
	right:auto;
	left: -10px;
}
.top-head.boxed-transparent .lft-line{
	left:auto;
	right:-1px
}
.top-nav ul ul ul{
	right:100%
}
.head-5:before{
	right: 16.5%;
	left: auto;
}
.top-nav ul li li.hasChildren > a:after, .top-nav ul li li.hasChildren > span > a:after{
	content: "\f104";
}
.widget_recent_entries .post-img,.post-icon,.head-icon,.icon-box-small i,.lg-not-found{
	margin-left:15px;
	margin-right:0
}
.comment-list > li .comment-content{
	margin-left:0;
	margin-right:80px
}
.comment-list ul.children{
	margin-left:0;
	margin-right:60px
}
.blog-posts.small .post-content{
	margin-right:30%;
	margin-left:0
}
.blog-posts.small.full .post-content, .full .blog-posts.small .post-content {
    margin-right: 22.8%;
    margin-left:0
}
.widget_search input[type=text]{
	padding:0 10px 0 35px
}
.widget_recent_entries .widget-post-info,.icon-box-small .icon-sm-desc.md-desc{
	margin-right:50px;
	margin-left:0
}
.widget_recent_entries .meta i,.bbp-forums-list li:before,.woocommerce div.product form.cart div.quantity,.activity-meta .acomment-reply:before, .activity-meta .fav:before, .activity-meta .unfav:before, .activity-meta .confirm:before{
	margin: 0 0 0 5px;
}
.widget_recent_entries .meta span,.widget_recent_comments ul li:before{
	margin-left:10px;
	margin-right:0;
	display:inline
}
.top-head.boxed-transparent > .container{
	padding: 0 0 0 30px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 7em;
	border-top-left-radius: 7em;
}
.top-head.boxed-transparent .logo{
	padding-left:0;
	padding-right:30px
}
.sec-bg.left.circle {
    border-radius: 50em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.footer-middle .menu li{
	margin-right:0;
	margin-left:10px
}
.footer-top div.slick-s .slick-slide{
	padding:0 30px 0 66px;
	text-align:right
}
.footer-top div.slick-s .slick-prev, .footer-top div.slick-s .slick-next,.divider.rit:before{
	right:auto;
	left:0
}
.footer-top div.slick-s .slick-next{
	left:35px;
}
#to-top .new-angle{
    border-top-left-radius: 1.2em !important;
    border-bottom-right-radius: 1.2em !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.widget_it_widget_tweets .slick-next, .widget_it_widget_tweets .slick-prev {
    left: 0;
    right:auto
}
.widget_it_widget_tweets .slick-next {
    left: 25px;
    right:auto
}
.page-numbers .fa-angle-right:before{
	content:"\f104"
}
.page-numbers .fa-angle-left:before{
	content:"\f105"
}
blockquote{
	border-right: 5px solid #eee;
	border-left: 0;
}
blockquote:before{
	top:auto;
	bottom:18px
}
blockquote:after{
	top:18px
}
.blog-posts.small .post-content, .blog-posts.small .post-content .bottom_tools {
    border-bottom-right-radius: 0 !important;
}
.vc_tta-shape-rounded:not(.vc_tta-o-no-fill) .vc_tta-panel.vc_active{
	border-top-right-radius: 0 !important;
}
.vc_tta.vc_tta-shape-rounded .vc_tta-tabs-container{
	margin:0 1px !important
}
.divider.lft.bg:before, .divider.lft.bordered:before{
	margin-left:0;
	margin-right:45px
}
.icon-box-lg .margin-left-100{
	margin-left:0;
	margin-right:100px
}
.left-icons .icon-box-small i{
	margin-left:0;
	margin-right:18px
}
.bbp-body li.bbp-forum-info, .bbp-body li.bbp-topic-title{
	padding-left:0;
	padding-right:55px
}
.left-icons .icon-box-small .icon-sm-desc{
	margin-left:55px !important;
	margin-right:0
}
.btn-soon,.not-found-form .main-bg{
	margin-right: -23px;
	z-index: 999;
	position: relative;
}
.soon-form:before{
	right:8.4%;
	left:auto
}
.not-found-form:before{
	right:1.2%;
	left:auto
}
.soon-form input[type=text],.soon-form input[type=email]{
	padding-left:40px;
	padding-right:60px;
	text-align:left;
	width: 82%;
}
.not-found-form input[type=text]{
	padding-left:20px;
	padding-right:60px;
}
.menu404 ul li{
	list-style:none;
	margin:0;
	padding:0
}
.top-head.header-4 .top-search {
	padding: 7px 15px 7px 0px;
}
.top-head.header-4 .top-search button {
    margin: -7px 0;
}

.header-9 .top-nav > ul > li:not(.megamenu) > ul {
    left: auto;
    right:-30px !important
}
.header-9 .top-nav > ul > li:not(.megamenu):after,.header-9 .top-nav > ul > li.megamenu > span:after{
	right:auto;
	left:0;
	border-right-width:0;
	border-right-style:none;
	border-left-width:1px;
	border-left-style:solid;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:10em;
	border-bottom-left-radius:10em;
}
.header-9 .top-nav > ul > li.megamenu > span{
	padding-right:15px;
	padding-left:15px
}
.header-9 .top-nav > ul > li.megamenu:first-child > span:before {
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    left: -15px !important;
}
.header-9 .top-nav > ul > li:not(.megamenu):before,.header-9 .top-nav > ul > li.megamenu > span:before{
	right:-29px;
	left:auto
}
.header-9 .top-nav > ul > li:not(.megamenu):first-child:before,.header-9 .top-nav > ul > li.megamenu:first-child:before > span{
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-top-left-radius:10em;
	border-bottom-left-radius:10em;
	right: -15px !important;
	left:auto !important
}
.header-9 .top-nav > ul > li:not(.megamenu):first-child,.header-9 .top-nav > ul > li.megamenu:first-child > span{
	padding-right: 45px;
	padding-left:15px
}
.header-9 .top-nav > ul > li:not(.megamenu):first-child > ul{
	right:0;
	left:auto
}
.top-head.sticky-nav.header-9 .top-nav > ul > li > ul,.inner-menu ul ul, .top-bar li ul{
	right:0;
	left:auto
}
.header-left .top-search, .header-right .top-search {
    padding: 0 10px 0 0 !important;
}
.vc_progress_bar .vc_single_bar{
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
}
.progress-bar span{
	transform:rotateY(-180deg);
	-webkit-transform:rotateY(-180deg);
	display:block
}
.progress-bars.style-5 .progress .progress-bar, .progress-bars.style-6 .progress .progress-bar{
	float:left !important
}
.progress-bars.style-5 span.bar-title, .progress-bars.style-6 span.bar-title {
    margin-right: 20px;
    margin-left:0
}
.progress-bars.style-5 > li > span, .progress-bars.style-6 > li > span,.top-head.header-8 .top-search{
	margin-left:0;
	margin-right:10px
}
.progress-bars.style-5,.progress-bars.style-6{
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}
.col-md-8.inner-magazine .recent-posts .post-content{
	margin-left:0 !important;
	margin-right:29%
}
.side-one{
	left:auto;
	right:0
}
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message {
	padding: 1em 3.5em 1em 2em!important;
}
.woocommerce .woocommerce-error:before, .woocommerce .woocommerce-info:before, .woocommerce .woocommerce-message:before{
	left:auto;
	right:1.5em
}
#buddypress .activity-list .activity-content, body.activity-permalink #buddypress .activity-list li .activity-content, .item-list .item{
	margin-right: 90px;
	margin-left: -20px !important;
	border-right: 1px #ECECEC solid;
	border-left: 0;
}
.activity-avatar img.avatar, #buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic, #buddypress .activity-list li.mini .activity-avatar img.avatar{
	margin: 0 0 15px 20px !important;
}
.filter-by .esg-filterbutton:before{
	right: -20px;
	left:auto
}
.tri-line {
    left: -52px;
    right:auto;
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
}
.tri-line.bottom-tri{
	-webkit-transform: scale(-1) !important;
	transform: scale(-1) !important;
}
.tri-line.left{
	right: -53px;
    left: auto;
}

.tri-line.left.bottom-tri{
	-webkit-transform: scale(-1) !important;
	transform: scale(-1) !important;
}
.form-control, .input-text {
    padding: 0 15px;
    line-height: 41px;
}
.mc4wp-form .btn {
    margin-right: -30px;
    margin-left:0
}
.new-nav li.hasChildren > a .collap, .new-nav > ul > li.megamenu a .collap{
	left: 5px;
    right: auto;
}
.new-nav > ul > li i{
	margin-left: 10px !important;
	margin-right: 0;
}
.new-nav li.hasChildren a .collap i, .new-nav > ul > li.megamenu span a .collap i{
	margin: 0 !important
}



