﻿body,a,.comment-list ul.children .comment-content h6 a,.team-box .team-details .social-list li a,pre,.inner-menu ul ul li:hover > a, .inner-menu ul ul li.selected > a, .top-bar ul ul li:hover > a{
	color: #bbb;
}
.top-head.sticky-nav .top-nav > ul > li > a,.top-head.sticky-nav .top-nav > ul > li > span > a,.top-head.transparent.sticky-nav .top-nav > ul > li > span > a,.top-head.sticky-nav .top-nav > ul > li.hasChildren > a:after, .top-head.sticky-nav .top-nav > ul > li.hasChildren > span > a:after,
.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message{
	color: #bbb;
}
.top-head .main-bg .top-nav > ul > li.hasChildren > a:after, .top-head .main-bg .top-nav > ul > li.hasChildren > span > a:after,.header-9 .top-nav > ul > li.hasChildren:hover > a:after,.header-9 .top-nav > ul > li.hasChildren:hover > span > a:after,
.header-9 .top-nav > ul > li.hasChildren:hover > a span:after,.header-9 .top-nav > ul > li.hasChildren:hover > span > a span:after{
	color:#fff !important
}

.nav-border-bottom > ul > li:before,.nav-border-bottom li.megamenu .inner-mega:before,.nav-border-left > ul > li:before,.nav-border-left li.megamenu .inner-mega:before,.nav-border-top > ul > li:before,.nav-border-top li.megamenu .inner-mega:before,
.nav-border-right > ul > li:before,.nav-border-right li.megamenu .inner-mega:before,.feature-img figure,.bbp-topics tr.type-topic > td.bbp-topic-title:before,.top-srch-forum > div,.filter-by .esg-filterbutton:before,.btn-grey,.my-details,
.add-items i, .head-5:before,.single_variation,.woocommerce .woocommerce-error, .woocommerce .woocommerce-info, .woocommerce .woocommerce-message,.woocommerce-checkout #payment{
	background-color: #555;
}
.vc_progress_bar .vc_single_bar{
	background-color: #555 !important
}
.dark .nav-border-bottom > ul > li:before,.dark .nav-border-bottom li.megamenu .inner-mega:before,.dark .nav-border-left > ul > li:before,.dark .nav-border-left li.megamenu .inner-mega:before,.dark .nav-border-top > ul > li:before,.dark .nav-border-top li.megamenu .inner-mega:before,
.dark .nav-border-right > ul > li:before,.dark .nav-border-right li.megamenu .inner-mega:before{
	background-color:#696969;
}

/* #999 */
.top-bar ul.top-info li,.top-bar ul.top-info li a,.bar-menu li a,.top-bar ul.top-info li,.top-search .search-box input[type=text],.top-head.header-6 .top-nav > ul > li > a > i,.post-item .post-meta li,
.top-head.header-8 .top-nav > ul > li > a span,.top-nav.dark-submenu li li a,.top-nav.dark-submenu .megamenu > ul > li h4,.pricing-tbl.style-4 .plan-head i,select,input[type=file],.post-item .post-meta li a,.comment-list .comment-content .meta{
	color: #999
}
.fa-hover:hover > span,.radio + label > span,.radio:checked + label > span,.widget-content .top-srch-forum .button{
	background:#999
}
.slick-dots li button{
	border:1px #999 solid;
}
.top-head.not-dark .top-nav > ul > li:not(.selected) > a, .top-head.not-dark .top-nav > ul > li:not(.selected) > span > a, .top-head.not-dark .top-nav > ul > li:not(.selected) > a:after, .top-head.not-dark .top-cart > a {
    color: #aaa !important;
}
/* #fff */
.social-list li a:after,.top-bar.main-bg ul li, .top-bar.main-bg ul li a,.top-bar.main-bg ul li i, .top-bar.main-bg ul.social-list li a,.top-head.transparent.dark .top-nav > ul > li.hasChildren > a:after,.top-head.transparent .logo a,.top-head.transparent .top-cart > a,
.top-head.transparent .top-nav > ul > li > a,.top-head.header-5 .top-cart > a,.top-head.header-6 .top-nav > ul > li:hover > a i,.top-head.header-6 .top-nav > ul > li:hover > a,.top-head .full.main-bg .top-nav > ul > li > a,.top-head.transparent .top-nav > ul > li > span > a,
.top-head.header-8 .top-nav > ul > li:hover > a span,.top-head.header-8 .top-cart > a,.top-head.header-5.sticky-nav .top-cart > a, .top-head.sticky-nav.header-8 .top-cart > a,.page-title.title-5 h1,.footer-top div.tweets > div a,.footer-top div.tweets .slick-prev,
.footer-top div.tweets .slick-next,.block-link,.dark-bg,.black-bg,.widget_it_widget_contact .social-list li a:after,.tags.hover-effect li a:after,ul.flickr-widget .img-overlay:before,.box-1:hover .outlined i,.icon-box.gry-border-1:hover h3,.darker-bg,.black-bg
.top-nav.colored-submenu ul li ul a,.tags-widget .tags a:hover,.pricing-tbl.style-4:hover .plan-head h3,.top-head.header-8 .top-nav > ul > li.selected > a span,.darker-bg a,.load_more:hover,
.black-bg a,.dark-bg a,.btn-default,mark,.zoom .img-overlay:before,a.main-bg:hover,.btn.main-border.btn-outlined:hover,.fa-hover:hover > span{
	color:#fff
}
.top-head.transparent .top-nav > ul > li > a{
	text-shadow: 0 1px 0px rgba(0,0,0,.2);
}
.top-head.transparent.sticky-nav .top-nav > ul > li > a{
	text-shadow: none;
}

.white,.tabs-style-ballon li.active a,.one-page .diamonds.current a:hover,.pagination ul li.selected a{
	color: #fff !important;
}
.icon-box.gry-border-1:hover i,.white-bg,.team-box .team-img,.header-9 .top-nav > ul > li:not(.megamenu):first-child:before,#buddypress ul.item-list li.load-more:hover {
	background-color: #333 !important;
}
body,.footer-top div.tweets .slick-prev:hover,.footer-top div.tweets .slick-next:hover,.top-head,.top-nav ul li ul,.cart-box,.page-title.title-4 .breadcrumbs,.icon-box:hover h3.bottom_half_border:after,.add-items i:hover,
.tabs li.active a,.tabs li.active a:before,.tabs nav li:first-child.active a,.content-wrap section,.pagination ul li:hover,.pricing-tbl.style-4,.pricing-tbl.style-4 .plan-head i,.toolsBar select,.modal-content,.panel,
.pagination.bar-1 ul,.pagination.bar-2 ul,.pager-slider,.header-left,.header-right,.conact_center_form,.bottom_tools a,.timeline .post-item:nth-child(even) .timeline_date .inner_date:before,.inner-menu ul ul,.top-bar li ul,.bordered-ul > li:hover,
.shop-main-menu > ul > li > ul,.pricing-tbl,.pageWrapper.boxed,.top-nav ul li ul,.top-cart .cart-box,.top-head.sticky-nav,.header-9 .top-nav > ul > li:not(.megamenu):after,.header-9 .top-nav > ul > li.megamenu > span:after{
	background-color:#333;
}
.shape-skin .esg-filterbutton:hover,#buddypress div.activity-comments form .ac-textarea{
	background-color:transparent !important
}
.tabs-style-ballon.vertical .nav-tabs>li {
	border-color: #666 transparent;
}
.team-box.box-2:hover .social-list li,.progress-bars.style-5, .progress-bars.style-6,#bbpress-forums div.reply div.bbp-reply-content,#bbpress-forums div.reply div.bbp-reply-content:before,.filter-by .esg-filterbutton,
.testimonials-8 [class*="col-md-"], .clients-grid1 [class*="col-md-"], .clients-grid2 [class*="col-md-"], .clients-grid3 [class*="col-md-"],.woocommerce #reviews #comments ol.commentlist li .comment-text,.forum-search form > div{
	border-color: #555 !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #333 inset;
    -webkit-text-fill-color: #aaa;
}

/* #111 */
.tabs nav a:focus,.mini-cart-list a.remove:hover i,.black-color{
	color: #111;
}
/* #222 */
.top-bar.main-bg .social-list li a:after,.cont-success,.cart-body a {
	color: #bbb;
}
.footer-3 .footer-top .social-list li,footer .divider.centered:before,footer .divider.centered:after,.btn-outlined:hover,.top-nav.dark-submenu ul li ul,.black-bg,.progress-bars.tool-tip .progress-bar span,.navbtn,.new-nav,
.social-list li.main-bg:hover,.custom-checkbox,.old-new,.load_more,.nav-previous a,.nav-next a,#bbpress-forums div.reply div.bbp-reply-content:before  {
	background-color: #222;
}
.msg-box:not(.outlined) p,.msg-box:not(.outlined) h4{
	color:#222
}
.msg-box.outlined .close{
	color:#aaa;
	opacity: 1;
}
.custom-checkbox .switcher{
	background:#ccc !important
}
.btn-outlined:hover,.icon-box-small i.filled:after{
	border-color:#222;
}
.progress-bars.tool-tip .progress-bar span:after{
	border-color: #222 transparent transparent transparent;
}
.icon-box-small:hover i.right-angle b:before{
	border-color: transparent transparent transparent #222 !important;
}
.icon-box-small:hover i.left-angle b:before{
	border-color: transparent #222 transparent transparent !important;
}
.pagination.bar-2 ul li:hover{
	background:#333 !important
}

/* #333 */
h1, h2, h3, h4, h5, h6,legend,.dark-color,.team-box .team-details .team-name,.timeline .post-item .timeline_date .year,.item-cart a,.control-group .box i,span.lbl,.woocommerce div.product p.price del, .woocommerce div.product span.price del {
	color: #ccc;
}
.page-title.title-5 h1,.footer-4 .footer-middle .container:before,.btn-default.btn-3d:hover,.pagination.bar-2 ul li:hover,.one-page.side-one .current a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.tabs-style-default .tab-content .tab-pane{
	background: #555;
}
.btn-default.btn-3d {
	-webkit-box-shadow: 0 4px 0 #333;
	box-shadow: 0 4px 0 #333;
}
.btn-default.btn-3d:hover {
	-webkit-box-shadow: 0 4px 0 #2A2A2A;
	box-shadow: 0 4px 0 #2A2A2A;
	border-color: #333;
	color: #fff;
}
.top-nav.dark-submenu li li a{
	border-top-color:#333
}
.top-nav.dark-submenu .megamenu > ul > li{
	border-left-color:#333 !important
}
.section-full-bg.black-bg .tri{
	border-color: transparent transparent transparent #222;
}


/* #444 */
a,.top-nav li li a,.top-nav .megamenu > ul > li h4,.mini-cart-total,.page-title h1,.page-title h3,.breadcrumbs a,.footer-top div.tweets .slick-prev:hover,.footer-top div.tweets .slick-next:hover,.icon-box h3,.panel-title,.pricing-tbl.style-3.selected .price_txt,
.footer-light .footer-middle h4,footer .divider i,.icon-box.gry-border-2:hover .block-icon i,.dark-text,.btn-grey,.btn-white,.pricing-tbl .price-lg,.fa-hover,.inner-menu ul ul li a,.top-bar ul ul li a,.icons-style-2 .heading,
.filter-by.style-2 ul li a:hover,.filter-by.style-3 ul li a:hover,.main-bg .btn-white:not(.btn-outlined),.main-bg .btn-white:not(.btn-outlined):hover {
	color: #bbb;
}
.darker-bg,.btn-default, .top-head.sticky-nav,ul.edd-cart > li:nth-child(2n), #edd_discounts_list > li:nth-child(2n),.item-list-tabs.no-ajax .feed a{
	background-color:#444
}
.btn-default,.top-srch-forum > div{
	border-color: #444;
}
.pagination.bottom-border ul li:hover,.icons-style-2:hover i{
	border-bottom-color:#444 !important
}
.btn-shadow{
	-webkit-box-shadow: 3px 3px 0px 0px #444;
	-moz-box-shadow: 3px 3px 0px 0px #444;
	box-shadow: 3px 3px 0px 0px #444;
}
.section-full-bg.dark-bg .tri{
	border-color: transparent transparent transparent #444;
}

/* #666 */
.item-title{
	color:#666
}

/* #777 */
body,.top-bar ul.social-list li a,.top-head .logo a,.top-head .top-nav > ul > li > a, .top-head .top-nav > ul > li > span > a,.top-head .top-cart > a,.top-nav > ul > li li.hasChildren > a:after,.cart-body .price,.top-head.sticky-nav .logo a,.footer-middle .logo,.footer-light .footer-middle,.bar-wrap b,
.top-head.sticky-nav .top-nav > ul > li.hasChildren > a:after, .top-head.sticky-nav .top-cart > a,.footer-light .widget_it_widget_contact li,.footer-light .footer-middle a,.list li.list-bg i,.filled.lg-icon i,
.btn-default.btn-outlined, .btn-default.btn-square_outlined,.head-1 p.sub-heading,.head-2 p.sub-heading,.head-3 p.sub-heading,.head-4 p.sub-heading,.head-5 p.sub-heading,.head-6 p.sub-heading,.head-7 p.sub-heading,.head-8 p.sub-heading,.tabs nav a,.circliful,
.circle-info, .circle-info-half,.fun-info,.cta_btn p,.pricing-tbl h3,.pricing-tbl.style-3:hover .price_txt,.pagination.bar-1 ul li a,.pagination.bar-2 ul li a,.pagination.bar-3 ul li a,.progress-bars.style-6 span.bar-title,.item-price ins
.tags-widget .tags a,.cont-success i.success-icon,.login-2 .login-head,.name-holder h5 a,.cart-body .price{
	color: #bbb;
}
.top-head.sticky-nav .top-nav > ul > li > a,.item-list-tabs.no-ajax .feed a{
	color:#bbb
}
.dark-bg,.icon-box h3.bottom_half_border:after,.head-6:after,.tags-widget .tags a:hover,.icon-box-small i:after{
	background-color:#777
}
.dark-border{
	border:1px #777 solid
}
.top-head.sticky-nav a.white{
	color:#bbb !important
}

.btn-default.btn-outlined, .btn-default.btn-square_outlined {
	border-color: #666;
}

/* #888 */
.icons-style-1 i{
	color: #999;
}
/* #f1f1f1 */
pre,.filter-by.style-2 ul li a:hover,.filter-by.style-3 ul li a:hover,span.lbl,.testimonials-3 .testimonials-bg {
	background: #444;
}
.content-wrap section,.filter-by.style-2 ul li a,.filter-by.style-3 ul li a,.item-box,.break-news,.shop-main-menu > ul > li > ul,.shop-main-menu {
	border: 1px #555 solid;
}
.tabs li.active a,.tabs.vertical li:first-child.active a {
	border-top:1px #f1f1f1 solid;
}
.tabs nav li:first-child.active a,.tabs.vertical li.active a,.socials-widget.style-2 .social-list li,ul.edd-cart > li > span, ul.edd-cart > li > a.edd-remove-from-cart, #edd_discounts_list > li > span {
	border-left:1px #555 solid;
}
.tabs nav li:last-child.active a,ul.edd-cart > li > span, ul.edd-cart > li > a.edd-remove-from-cart, #edd_discounts_list > li > span {
	border-right:1px #555 solid;
}
.tabs.vertical li:last-child.active a,.p-1-col .portfolio-item,.lg-item,.socials-widget.style-2 .social-list li,.shop-main-menu > ul > li,.shop-main-menu li li a,ul.edd-cart > li > span, ul.edd-cart > li > a.edd-remove-from-cart, #edd_discounts_list > li > span,
.head-6, .icons-style-2 .heading, .vc_tta-style-style-1 .vc_tta-tabs-list,.nav-single,.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	border-bottom:1px #555 solid;
}
.tabs-style-bottomline.vertical .nav-tabs {
	border-right: 2px #555 solid;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before{
	box-shadow:none !important
}
/* #eee */
.filled.lg-icon i,.team-box .team-details .social-list li a,.pagination.bar-3 ul li:hover,.progress-bars.style-6,.tags-widget .tags a,.filter-by ul li:before,#buddypress #header-cover-image{
	background: #444;
}
.filter-by.style-3{
	border: 1px #eee solid;
}
blockquote,.filter-by ul li,#bbpress-forums fieldset.bbp-form,legend,.bbp-the-content.wp-editor-area,ul.edd-cart, #edd_discounts_list,div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header,.woocommerce-cart table.cart td.actions .coupon .input-text,
#bbpress-forums .bbp-forums-list{
	border-color: #555;
}

.top-nav li li a,.widget_recent_entries li,.inner-menu ul ul li a,.top-bar ul ul li a {
	border-top: 1px #444 solid;
}
.icons-style-2 .heading,.topic-author.topic .bbp-reply-author .bbp-author-name, .topic-author.type-reply .bbp-reply-author .bbp-author-name,.bbp-reply-author div {
	border-bottom: 1px #555 solid;
}

.cart-mini-lft img {
  border: 1px rgba(255, 255, 255, 0.26) solid !important;
}
.bordered-ul > li{
	border-left:1px rgba(0,0,0,.07) solid
}
.lg-not-found,.forum-search form > div:before{
	color: #555;
}
.lg-not-found i:after{
	border: 5px #555 solid;
}
.tabs-style-default .tab-content .tab-pane.active{
	border: 1px solid #555;
	border-top:0
}

/* #f2f2f2 */
.tabs nav a,.pagination ul li,.sub-pager a,.cont-success,.login-box-lg .login-inner,.grid .post-item .post-gallery,.share-post,.accordion .panel-default >.panel-heading h4 a,.accordion.style-1 .panel >.panel-heading h4 a.collapsed,.icon-box.gry-border-2 .head-bg,
.item-box:hover,.product-img,.alter-gry,.team-box.box-2 .team-details .team-pos,#buddypress div.item-list-tabs#subnav ul li a:hover, #item-nav > div ul li:hover, .activity-type-tabs ul li:hover {
	background-color: #555;
}
#buddypress div.item-list-tabs#subnav ul li a:hover, #item-nav > div ul li:hover a, .activity-type-tabs ul li:hover a{
	color:#ddd !important
}
/* #f4f4f4 */
.bar-menu li {
	border-left: 1px #f4f4f4 solid;
}
.page-title,.p-style4 .name-holder{
	background-color: #444;
}

/* #f5f5f5 */
.pricing-tbl.style-3 .price_txt, .pricing-tbl.style-4 .plan-head, .pricing-tbl.style-4 .plan-head:before, .pricing-tbl.style-4 .plan-head:after, .pricing-tbl.style-2 h3, th,#buddypress form#whats-new-form textarea,#buddypress ul.item-list li:hover,
#item-header,#buddypress table.forum tr.alt td, #buddypress table.messages-notices tr.alt td, #buddypress table.notifications tr.alt td, #buddypress table.notifications-settings tr.alt td, #buddypress table.profile-fields tr.alt td, #buddypress table.profile-settings tr.alt td, #buddypress table.wp-profile-fields tr.alt td,
#bbpress-forums li.bbp-header{
	background-color: #222;
}
.pricing-tbl.style-2 h3:after {
	border-top-color: #222;
}
.sidebar_widgets li.widget,.post-item .post-content,.top-srch-forum .button{
	background: #444;
}
.top-srch-forum > div:before{
	color:#444
}
/* #e4e4e4 */
.pricing-tbl,.forum-img{
	border: 1px #444 solid;
}
.tabs-style-ballon .nav-tabs,.edd-cart-number-of-items{
	background: #444;
}
.top-head{
	border-bottom: 1px #555 solid;
}


/* #e6e6e6 */
.btn-default.btn-outlined:hover, .btn-default.btn-square_outlined:hover,.divider.centered:before,.divider.centered:after,.divider.lft:before,.divider.rit:before {
	background-color: #444;
}
.divider.bordered i,.load_more,#buddypress form#whats-new-form textarea,#buddypress ul.item-list li,#buddypress .standard-form textarea, #buddypress .standard-form input[type=text], #buddypress .standard-form select, #buddypress .standard-form input[type=password], #buddypress .dir-search input[type=text],
#buddypress .dir-search input[type=search], #buddypress .dir-search input[type=text], #buddypress .groups-members-search input[type=search], #buddypress .groups-members-search input[type=text], #buddypress .standard-form input[type=color], #buddypress .standard-form input[type=date], #buddypress .standard-form input[type=datetime-local], #buddypress .standard-form input[type=datetime], #buddypress .standard-form input[type=email], #buddypress .standard-form input[type=month], #buddypress .standard-form input[type=number], #buddypress .standard-form input[type=password], #buddypress .standard-form input[type=range], #buddypress .standard-form input[type=search], #buddypress .standard-form input[type=tel], #buddypress .standard-form input[type=text], 
#buddypress .standard-form input[type=time], #buddypress .standard-form input[type=url], #buddypress .standard-form input[type=week], #buddypress .standard-form select, #buddypress .standard-form textarea,#bbpress-forums div.odd, #bbpress-forums ul.odd,
#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies, #bbpress-forums ul.bbp-search-results{
	border: 1px #555 solid !important;
}
blockquote:before,blockquote:after,.top-nav.colored-submenu ul li ul a:hover{
	color: #555;
}
.quicktags-toolbar{
	border-bottom:0
}
/* #f9f9f9 */
.bquote-1,.bquote-3,.bquote-4,.team-box.box-1 .team-details,.pricing-tbl.style-4 ul li:nth-child(even),tr.even td,#buddypress ul.item-list li:nth-child(odd),#buddypress .dir-search input[type=search], #buddypress .dir-search input[type=text], #buddypress .groups-members-search input[type=search], #buddypress .groups-members-search input[type=text], #buddypress .standard-form input[type=color], #buddypress .standard-form input[type=date], #buddypress .standard-form input[type=datetime-local], #buddypress .standard-form input[type=datetime], #buddypress .standard-form input[type=email], #buddypress .standard-form input[type=month], #buddypress .standard-form input[type=number], #buddypress .standard-form input[type=password], #buddypress .standard-form input[type=range], #buddypress .standard-form input[type=search], #buddypress .standard-form input[type=tel], #buddypress .standard-form input[type=text], 
#buddypress .standard-form input[type=time], #buddypress .standard-form input[type=url], #buddypress .standard-form input[type=week], #buddypress .standard-form select, #buddypress .standard-form textarea{
	background-color: #222;
}
.item-list-tabs.no-ajax, #subnav,#bbpress-forums div.odd, #bbpress-forums ul.odd,.quicktags-toolbar{
	background-color:#222 !important
}
.gry-bg, .tabs-style-bg .nav-tabs>li a,.vc_tta-style-style-2 .vc_tta-tabs-list>li a, .vc_tta-style-style-lg .vc_tta-tabs-container{
	background-color: #292929;
}
/* #f0f0f0 */
.list li.list-bg,.bottom_tools,.top-nav > ul > li:hover,.widget-content .item-options a.selected,#item-nav > div ul li, .activity-type-tabs ul li,#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer,#bbpress-forums div.reply div.bbp-reply-content,
#bbpress-forums div.even, #bbpress-forums ul.even{
	background: #222;
}
.widget:not(.widget_tag_cloud):not(.widget_product_tag_cloud) .widget-content ul li,.related-posts ul li,#bbpress-forums li.bbp-header,#bbpress-forums li.bbp-header, #bbpress-forums li.bbp-footer,
#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic,.woocommerce-cart .cart-collaterals .cart_totals tr td, .woocommerce-cart .cart-collaterals .cart_totals tr th {
	border-top: 1px #555 solid;
}
.vc_tta-style-style-lg .vc_tta-tabs-list>li {
    border-right: 1px #333 solid;
    border-top: 1px #333 solid;
}
/* #e1e1e1 */
.team-box.box-2,.pagination.bar-1 ul,.pagination.bar-2 ul,.mini-cart .checkout a,.pagination ul li,.sub-pager a,.sub-pager > span:not(.page-links-title),
.accordion.style-1 .panel >.panel-heading h4 a:not(.collapsed),.accordion.style-2 .panel,#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content, 
.vc_tta-style-style-1 .vc_tta-panel >.vc_tta-panel-heading h4 a, .vc_tta-accordion.vc_tta-style-style-2 .vc_tta-panel {
	border: 1px #555 solid;
}
.pagination.bar-1 ul li,#buddypress .activity-list .activity-content, body.activity-permalink #buddypress .activity-list li .activity-content, .item-list .item{
	border-left:1px #555 solid !important;
}
.accordion.style-3 .panel >.panel-heading h4 a,hr,.modal-footer,#buddypress div.activity-meta,.vc_tta-style-style-3 .vc_tta-panel >.vc_tta-panel-heading h4 a,.nav-single{
	border-top: 1px #555 solid;
}
.vc_tta-accordion.vc_tta-style-style-3, .side-nav li > ul {
	border: 1px #444 solid;
}
.accordion.style-4 .panel>.panel-heading h4 a,.modal-header,.activity-header,.vc_tta-style-style-4 .vc_tta-panel>.vc_tta-panel-heading h4 a{
	border-bottom: 1px #555 solid;
}
/* #e7e7e7 */
.footer-light .footer-middle {
	background:#e7e7e7;
}
.mini-cart-list li,.mini-cart-total {
	border-bottom: 1px solid #e7e7e7;
}
.mini-cart-total .total {
	border-top: 1px solid #e7e7e7;
}
.left-gry-border{
	border-left: 1px solid #e7e7e7;
}
.left-white-border{
	border-left: 1px solid #fff;
}


/* e8e8e8 */
.bbp-pagination-links a:hover, .bbp-pagination-links span.current,#bbpress-forums div.bbp-forum-header, #bbpress-forums div.bbp-topic-header, #bbpress-forums div.bbp-reply-header{
	background: #111;
}
.list li.list-bg i,.comment-list .children .comment-content h6{
	background: #111 !important;
	color: inherit !important;
	text-shadow: none !important;
}

.bquote-3, .bquote-4, input[type=text], input[type=email], input[type=tel], input[type=password], .login-2 .login-box-lg .login-inner, select, input[type=file], .post-tags .tags li, .form-control, .input-text,.select2-container .select2-choice,#buddypress div.activity-comments form textarea,.select2-container .select2-choice{
	border: 1px #444 solid;
}
.tags li{
	border:1px #777 solid
}
.tags li:hover{
	background-color:#777
}
input[type=text], input[type=email], input[type=password], input[type=file], textarea, select, .form-control, .input-text, .select2-container .select2-choice,#buddypress div.activity-comments form textarea{
	background: #333;
	color: #aaa;
}
.widget.custom-menu-widget ul li{
	border-top: 1px #555 solid;
}
.sidebar_widgets .widget-head{
	border-bottom: 1px #666 solid;
}
textarea{
	border: 1px solid #555;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	resize:none
}

/* #555 */
.timeline:before,.timeline .post-item:nth-child(even) .timeline_date:before,tfoot,.widget-content .item-options a,.vc_tta-style-style-3 .vc_tta-tabs-list{
	background:#555
}
.top-head.header-4 .top-search,.top-head.header-7 .top-search,.timeline .post-item:nth-child(even) .timeline_date .inner_date:before,.top-head.header-2 .top-nav > ul > li > a,.top-head.header-2 .top-nav > ul > li > span > a,.top-head.header-2 .top-cart,.top-head.header-2 .top-search {
	border: 1px #555 solid;
}
.list li.bottom-border,.price-block,.product-block,.top-bar:not(.main-bg),#whats-new-form {
	border-bottom: 1px #555 solid !important;
}
.top-head.header-2 .top-cart,#buddypress table.forum tr td.label, #buddypress table.messages-notices tr td.label, #buddypress table.notifications tr td.label, #buddypress table.notifications-settings tr td.label, #buddypress table.profile-fields tr td.label, #buddypress table.wp-profile-fields tr td.label{
	border-right: 1px #555 solid;
}
.top-nav .megamenu > ul > li,.top-bar:not(.main-bg) ul li:first-child {
	border-left: 1px #444 solid;
}
.tabs-style-lg .nav-tabs>li {
	border-right: 1px #555 solid;
	border-top: 1px #555 solid;
}
.tabs-style-lg .nav-tabs>li:first-child {
	border-left: 1px #555 solid;
}

/* efefef */
.team-box.box-2 .team-name{
	background: #444;
}
.testimonials-5 [class*="col-md-"],.clients-grid1 [class*="col-md-"],.clients-grid2 [class*="col-md-"],.clients-grid3 [class*="col-md-"]{
	border-color: #555;
}


/* #dcdcdc */
.head-2 b{
	color: #555;
}
.head-1:after,.head-1:before,.head-2:after,.head-2:before{
	background-color: #555;}
.head-3:after,.head-3:before{
	border-top: 1px #555 solid;
	border-bottom: 1px #555 solid;
}

/* #ddd */
.widget.custom-menu-widget ul li:before,.widget_recent_comments ul li:before,.soon-form:before,.not-found-form:before,.top-shop-links a i{
	color: #999;
}
.footer-light .footer-top,.footer-light .footer-bottom,ul.children:before,.add-items i{
	background: #555;
}
.box-1 .outlined i,.icon-box-small .outlined,pre,.social-list li.outlined,.pro-info-cell > div,.add-items i:hover,.qty-txt-box input[type=text],.shop-ads-top,.tabs-style-default.vertical .tab-content .tab-pane.active,.checkbox-table .floated-item{
	border: 1px #555 solid;
}
.footer-light .widget_it_widget_contact .social-list li.diamond.outlined:after,.default-border,.testimonials-4 .testimonials-img img,.testimonials-3 .testimonials-img img,.testimonials-5 .testimonials-img img,
.header-9 .top-nav > ul > li:not(.megamenu):after,.header-9 .top-nav > ul > li.megamenu > span:after{
	border-color:#555
}
.tabs-style-default.vertical .nav-tabs>li.active>a{
	border:1px #555 solid !important;
	border-right:0px !important
}

.top-head.header-4 .top-cart .cart-box {
	border-top: 3px #555 solid;
}
.head-6, .icons-style-2 .heading, .tabs-style-bottomline .nav-tabs{
	border-bottom: 1px #555 solid;
}
.pagination.bottom-border ul li{
	border-bottom: 3px #7B7B7B solid;
}
.tabs-style-default .nav-tabs>li.active>a, .tabs-style-default .nav-tabs>li.active>a:focus, .tabs-style-default .nav-tabs>li.active>a:hover {
    border: 1px solid #555;
    border-bottom-color: transparent;
}
.tabs-style-default .nav-tabs>li>a:hover{
	border-bottom-color: #555;
}
.progress{
	background-color:#555
}
/* #d0d0d0 */
.widget_it_widget_contact .details li {
	color: #d0d0d0;
}
.footer-light .menu li{
	border-top-color:#d0d0d0
}

/* #ccc */
.sitemap ul.menu > li > ul > li li:before,.icons-style-2 i{
	color: #888;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.edd-cart-number-of-items{
	color:#ccc
}
.head-8:before{
	background:#ccc;
}
.footer-light .tags li,.footer-light .social-list li.outlined{
	border-color:#ccc
}

.mini-cart-list a.remove i {
	color: #bababa;
}
.footer-light .recent-posts-footer li .post-img img{
	border-color:#cdcdcd
}
.divider i,.widget_search button{
	color: #777;
}

.icon-box.gry-border-1,.icon-box.gry-border-2{
	border: 1px #555 solid;
}
li.outlined.circle,li.outlined.rectangle,.minimal-socials .outlined{
	border:1px #4a4a4a solid
}
blockquote p {
	color: #afafaf;
}
blockquote span {
	color: #a3a3a3;
}
.top-nav.colored-submenu ul li ul ul {
	border-left-color: #fff !important;
}
.top-nav.colored-submenu ul li ul li a{
	border-color:rgba(0,0,0,.12)
}
.top-nav.colored-submenu .megamenu > ul > li{
	border-left-color:rgba(0,0,0,.12) !important
}
.top-nav.colored-submenu ul ul ul:before{
	border-color: transparent #fff transparent transparent !important;
}
.testimonials-4 .testimonials-bg:after{
	border-color: rgba(255,255,255,.5) transparent transparent transparent;
}
.testimonials-4 .testimonials-bg{
	background-color:rgba(255,255,255,.5);
	color:#000
}
.testimonials-4.dark .testimonials-bg:after{
	border-color: rgba(0,0,0,.7) transparent transparent transparent;
}
.testimonials-4.dark .testimonials-bg{
	background-color:rgba(0,0,0,.7);
	color:#fff;
	border-bottom:4px #555 solid
}
.shape-skin .eg-el-amount{
	background:#000
}
.shape-skin .eg-el-amount:after{
	border-color: #000 transparent transparent transparent;
}
.top-nav.colored-submenu li li a:hover{
	background-color:rgba(0,0,0,.12);
}
.top-nav.colored-submenu .megamenu li a:hover,.forum-search form > div{
	background-color:transparent;
}
.top-nav.colored-submenu > ul > li > ul{
	border-bottom:0 !important;
	border-top:3px #fff solid
}
.pricing-tbl ul li{
	border-top: 1px #555 solid;
	color:#bbb
}
.pricing-tbl.style-2 h3,.pricing-tbl.style-4 .plan-head{
	border-bottom: 1px #444 solid;
}
.pricing-tbl.style-2 h3:before {
	border-top-color: #444;
}
.list-grid a{
	background: #111;
}
.pricing-tbl.style-4 .plan-head:before,.pricing-tbl.style-4 .plan-head i{
	border: 1px #555 solid;
}
.progress-bars.style-5{
	background:#2a2a2a;
}
.progress-bars.style-5 .progress{
	border-bottom:1px #343434 solid;
	background: transparent !important;
}
.progress-bars.style-5 span.bar-title{
	color:#b8b8b8;
}
.progress-bars.style-6 span.bar-title{
	color: #aaa;
}
.progress-bars.style-5 .progress-bar span{
	background:rgba(0,0,0,.2)
}
.progress-bars.style-6 .progress-bar span{
	background: #333;
	color: #bbb;
}
.progress-bars.style-6 .progress{
	border-bottom: 1px #555 solid;
	background: transparent !important;
}
.progress-bars.style-6 .progress:last-child{
	border-bottom:0
}
.social-list .diamond.outlined {
	border: 1px #4a4a4a solid;
}

.pagination.bar-1 ul,.pagination.bar-2 ul{
	background: -moz-linear-gradient(top,  #444 0%, #222 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444), color-stop(100%,#222));
	background: -webkit-linear-gradient(top,  #444 0%,#222 100%);
	background: -o-linear-gradient(top,  #444 0%,#222 100%);
	background: -ms-linear-gradient(top,  #444 0%,#222 100%);
	background: linear-gradient(to bottom,  #444 0%,#222 100%);
}

.top-nav li li:hover > a,.top-nav li li.selected > a{
	background:rgba(0,0,0,.02);
}
.top-nav.colored-submenu li li > a{
	color:#fff !important
}
.top-nav.colored-submenu li li.selected > a{
	background:rgba(0,0,0,.12) !important;
	color:#fff !important
}

.top-bar{
	background: #484848;
}
.side-nav > ul > li > ul li {
	border-bottom:1px rgba(0,0,0,.08) solid
}

table {
	border: 1px solid #555;
}
tr:nth-child(even),#buddypress .standard-form textarea, #buddypress .standard-form input[type=text], #buddypress .standard-form select, #buddypress .standard-form input[type=password], #buddypress .dir-search input[type=text] {
    background: #222;
}
th {
    border-right: 1px solid #555;
    border-bottom: 2px #666 solid;
}
td, caption {
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
}
.bottom_tools a i,.meta_comments:before{
	color:#dadada
}
.comment-list > li{
	border: 1px #555 solid;
}
.divider.bg i,.sitemap ul.menu > li > a,.comment-list .comment-avatar,.accordion.style-5 .panel-collapse{
	background: #222;
}
.vc_tta-style-style-5 .vc_tta-panel-body{
	background:#222 !important
}

.item-cart {
	border-bottom: 1px #dfdfdf solid;
}
.woocommerce .quantity .qty,.bbp-pagination,.bbp-pagination-links a, .bbp-pagination-links span.current {
	border: 1px #555 solid;
}
.old-price{
	color:#c4c3c3;
}
.shop-ajax,.woocommerce #respond input#submit {
	background-color: #666;
	color:#fff
}
.diamond.colored{
	color:#fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}
.pageWrapper.boxed{
	box-shadow: 0 10px 10px #666;
}
.format-status .entry-content,.bbp-pagination{
	background:#222;
}
tr:nth-child(even) td{
	background:#333
}
#buddypress ul.item-list li.load-more a{
	color:#ccc
}
#buddypress ul.item-list li.load-more:hover a{
	color:#ddd !important;
	text-decoration:none
}